@import "tailwindcss";

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.container {
  width: 90%;
  margin: auto;
}

header .top-strip{}

.link:hover{color: #ff5252;}