@import "tailwindcss";

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

*{margin: 0px; padding: 0px; box-sizing: border-box;}

.container {
  width: 90%;
  margin: auto;
}

.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}